.navBar{
    display: flex;
    justify-content: space-between;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(173,52,0,1) 15%);
    padding: 1em;
    padding: 1.2em 1em;
}

.navIcon{
    padding: 0;
    margin: 0 0 0 1em;
    border: 0;
    width: 2.5em;
    height: 2.5em;
    object-fit: scale-down;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.item{
    color: #fff;
    margin-right: 2.5em;
    font-size: 1.2em;
    font-weight: bold;
}

