.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label{
    padding: .7em;
    font-size: 1.5em;
    padding-left: 0;
    border-radius: 0;
    border: none;
    color: #fff;
    font-weight: bold;
}

.form_control select{
    width: 300px;
    padding: 20px;
    border-radius: 0;
    border: none;
    color: #000;
    font-size: 1em;
}

.form_control option{
    font-size: 1em;
}